<section name="advertisement" class="container-fluid advertisement-lg">
    <div style="max-height:300px;" class="row">
        <div class="p-0">
            <img style="max-height:300px;" src="~/image/advertisements/large/example_one.png" class="img-fluid w-100"/>
        </div>
    </div>
</section>

<section name="Announcement" class="container mt-5">
    <div class="row">
        <section name="VehicleDetails" class="col-lg-9">
            <section name="UsedFilter">
                <div class="row">
                    <div style="color:dodgerblue" class="col-12">
                        <span>Vehicle Type</span> / <span>Body Type</span> / <span>Brand</span> / <span>Model</span>
                    </div>
                </div>
            </section>
            <section name="Slider" class="mt-3">
                <div class="row">
                    <div id="MainPicture" class="col-12">
                        <div id="MainPictureFrame" class="row bg-light">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-arrow-left-square h1"></i>
                            </div>
                            <div class="col-8">
                                <img style="box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);" id="ActivePicture" class="img-fluid" src="~/image/tempAnnouncement/ef609408-50c9-4d34-847c-24fec71f1532.jpg" />
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="bi bi-arrow-bar-right h1"></i>
                            </div>
                        </div>
                    </div>
                    <div id="PicturesCarousel" class="col-12 d-none d-lg-block">
                        <div id="Carousel" class="row mt-2">
                            <div class="col-2"><img class="img-thumbnail shadow-hover" src="~/image/tempAnnouncement/4bc0897e-8679-4269-9ed5-b419716f6fe2.jpg" /></div>
                            <div class="col-2"><img class="img-thumbnail shadow-hover" src="~/image/tempAnnouncement/4fe97830-69d7-482f-be2f-00600d307cb4.jpg" /></div>
                            <div class="col-2"><img class="img-thumbnail shadow-hover" src="~/image/tempAnnouncement/5de21388-e182-4025-b563-3d87d717abef.jpg" /></div>
                            <div class="col-2"><img class="img-thumbnail shadow-hover" src="~/image/tempAnnouncement/6f0bb20a-c48c-48f5-8af8-c507a541655d.jpg" /></div>
                            <div class="col-2"><img class="img-thumbnail shadow-hover" src="~/image/tempAnnouncement/661ad1d1-256c-48fe-b42d-aa8e2cccdd54.jpg" /></div>
                            <div class="col-2"><img class="img-thumbnail shadow-hover" src="~/image/tempAnnouncement/5613d047-f030-4465-8f21-44de6c9e7ba0.jpg" /></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

         <section name="VehicleBasic" class="col-lg-3">
            222222222222222222222222222222222222222222
        </section>
    </div>
</section>


