<div style="color:#d3d3d3" class="container p-5 fw-bold">
    <div class="row">
        <div class="col-12 text-center">
            <h1>You haven't any existing advertising campaign</h1>
            <h3>Milions users visit AutoVertical every months. Dont you think that is a great opportunity to advertise your company ? </h3>
            <h4>Start earn more money with Auto Vertical advertising campaign</h4>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-lg-4">
                <a class="btn btn-secondary px-5">
                    Check the advertising campaign offers
                </a>
            </div>
        </div>
    </div>
</div>
