<div id="Loading" class="text-center text-primary position-fixed top-50 end-50 h1">
     <div style="width: 7rem; height: 7rem;" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>