@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div style="z-index:5;top:150px;" class="position-fixed end-0 border border-1 bg-dark text-light">
         @await Component.InvokeAsync("FloatingUserMenu",UserManager.GetUserId(User))
    </div>
}
else
{
    <li class="nav-item mx-2">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
            <i class="fa-solid fa-plus"></i> &nbsp;
            Register
            </a>
    </li>
    <li class="nav-item mx-2">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
            <i class="fa-solid fa-user"></i>
            &nbsp;
            Login
            </a>
    </li>

}

