<section class="p-5 text-sm-start">
    <div class="container">
        <div class="d-sm-flex">
            <div class="card mb-3 mx-5 border-0">
              <img src="/image/svgIcons/Announcement.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Become selling your old vechicle witch <span class="text-warning">AutoVertical</span></h5>
                <div class="card-text">
                    <p class="lead">Add a announcement your vehical and sell it during 2-4 weeks.</p>
                    <p><i class="bi bi-check2"></i>The best automotive classifieds website in europe</p>
                    <p><i class="bi bi-check2"></i> Over 1.000.000 logged user every day <p/>
                    <p><i class="bi bi-check2"></i>Highlt specialized experts to help you sell faster </p>
                </div>
                <a asp-area="Customer" asp-controller="Announcement" asp-action="CreateAnnouncement" class="btn btn-primary mt-4">Create announcement</a>
                <p class="card-text"><small class="text-muted">It shoudn't take more than 15 minutes</small></p>
              </div>
            </div>
            <div style="border-right:1px solid #ecf0f1;"></div>
            <div class="card mx-5 border-0">
              <div class="card-body">
                <h5 class="card-title">Start advertise your company with <span class="text-success">AutoVertical</span> </h5>
                <div class="card-text">
                    <p class="lead">Milions users visit AutoVertical every months. Dont you think that is a great opportunity to advertise your company ?</p>
                    <p><i class="bi bi-check2"></i>One Milion user will see your advertise every day</p>
                    <p><i class="bi bi-check2"></i> You will get profesional panel to examine statistics intrest of your business <p/>
                    <p><i class="bi bi-check2"></i>Highlt specialized experts help you make your advertaisment more and more effective</p>
                </div>
                <p class="card-text"><small class="text-muted">The automotive leaders advertise their company with AutoVertical</small></p>
              </div>
              <a class="btn btn-success mt-4">Add advertisement</a>
              <img src="/image/svgIcons/Advertisement.jpg" class="card-img-bottom" alt="...">
            </div>
        </div>
    </div>
</section>



@*<div class="card">
                <h1 class="py-2">Become selling your old vechicle witch <span class="text-warning">AutoVertical</span></h1>
                <p>Add a announcement your vehical and sell it during 2-4 weeks.</p>
                <a class="btn btn-lg btn-primary">Create announcement</a>
                <p class="pt-5"><i class="bi bi-check2"></i>The best automotive classifieds website in europe</p>
                <p><i class="bi bi-check2"></i> Over 1.000.000 logged user every day <p/>
                <p><i class="bi bi-check2"></i>Highlt specialized experts to help you sell faster </p>
                <img class="img-fluid" src="/image/svgIcons/Announcement.jpg" />
            </div>
            <div style="background-color:#fab1a0">
                <h1>Become selling your old vechicle witch <span class="text-warning">AutoVertical</span></h1>
                <img class="img-fluid" src="/image/svgIcons/Announcement.jpg" />
            </div>*@