html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h5{
    color: #404040;
}
.hover-darker {
    color: #3498db;
}
.hover-darker:hover {
        color: #2980b9;
        cursor: pointer;
}
.hiddenElement{
    display:none;
}

.shadow-hover:hover {
    cursor: pointer;
    /*box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);*/
    box-shadow: 8px 8px 24px 0px rgba(23, 62, 88, 1);
    transition: box-shadow 300ms;
}
#PicturesCarousel #Carousel .active {
    box-shadow: 8px 8px 24px 0px rgba(23, 62, 88, 1);
    transition: box-shadow 2000ms;
}
#MainPicture#MainPicture{
    opacity:0;
}
