<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <h4>Observer adverts</h4>
        </div>
        <div class="col-lg-3">
            <a style="height:420px;" class="card medium-tiles">
               <img style="max-height:200px; min-height:200px; object-fit:cover" src="/Users/cfb20eb2-287e-4d97-904e-d49f0c1e0114/Adverts/c20238f4-9fcb-4a63-a99b-f629911ca09f/7fcbb70e-8897-4960-81af-10fa377e15f3.jpg" class="card-img-top tile-img" alt="Card image cap">
                    <div class="card-body">
                         <h4 class="card-title tile-title">Bmw seria 5</h4>
                         <div class="row">
                            <div class="col-12">
                                <small><b class="tile-year">2022</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                <small><b class="tile-mileage">245 000km</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-fuel">Diesel</b></small> &nbsp;
                                    <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-capacity">3000cm</b></small>
                            </div>
                            <h4 class="text-danger pt-3 tile-price">89 000 <sub>PLN</sub></h4>
                          </div>
                     </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a style="height:420px;" class="card medium-tiles">
               <img style="max-height:200px; min-height:200px; object-fit:cover" src="/Users/cfb20eb2-287e-4d97-904e-d49f0c1e0114/Adverts/c20238f4-9fcb-4a63-a99b-f629911ca09f/7fcbb70e-8897-4960-81af-10fa377e15f3.jpg" class="card-img-top tile-img" alt="Card image cap">
                    <div class="card-body">
                         <h4 class="card-title tile-title">Bmw seria 5</h4>
                         <div class="row">
                            <div class="col-12">
                                <small><b class="tile-year">2022</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                <small><b class="tile-mileage">245 000km</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-fuel">Diesel</b></small> &nbsp;
                                    <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-capacity">3000cm</b></small>
                            </div>
                            <h4 class="text-danger pt-3 tile-price">89 000 <sub>PLN</sub></h4>
                          </div>
                     </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a style="height:420px;" class="card medium-tiles">
               <img style="max-height:200px; min-height:200px; object-fit:cover" src="/Users/cfb20eb2-287e-4d97-904e-d49f0c1e0114/Adverts/c20238f4-9fcb-4a63-a99b-f629911ca09f/7fcbb70e-8897-4960-81af-10fa377e15f3.jpg" class="card-img-top tile-img" alt="Card image cap">
                    <div class="card-body">
                         <h4 class="card-title tile-title">Bmw seria 5</h4>
                         <div class="row">
                            <div class="col-12">
                                <small><b class="tile-year">2022</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                <small><b class="tile-mileage">245 000km</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-fuel">Diesel</b></small> &nbsp;
                                    <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-capacity">3000cm</b></small>
                            </div>
                            <h4 class="text-danger pt-3 tile-price">89 000 <sub>PLN</sub></h4>
                          </div>
                     </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a style="height:420px;" class="card medium-tiles">
               <img style="max-height:200px; min-height:200px; object-fit:cover" src="/Users/cfb20eb2-287e-4d97-904e-d49f0c1e0114/Adverts/c20238f4-9fcb-4a63-a99b-f629911ca09f/7fcbb70e-8897-4960-81af-10fa377e15f3.jpg" class="card-img-top tile-img" alt="Card image cap">
                    <div class="card-body">
                         <h4 class="card-title tile-title">Bmw seria 5</h4>
                         <div class="row">
                            <div class="col-12">
                                <small><b class="tile-year">2022</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                <small><b class="tile-mileage">245 000km</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-fuel">Diesel</b></small> &nbsp;
                                    <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-capacity">3000cm</b></small>
                            </div>
                            <h4 class="text-danger pt-3 tile-price">89 000 <sub>PLN</sub></h4>
                          </div>
                     </div>
            </a>
         </div>
         <div class="col-lg-3">
            <a style="height:420px;" class="card medium-tiles">
               <img style="max-height:200px; min-height:200px; object-fit:cover" src="/Users/cfb20eb2-287e-4d97-904e-d49f0c1e0114/Adverts/c20238f4-9fcb-4a63-a99b-f629911ca09f/7fcbb70e-8897-4960-81af-10fa377e15f3.jpg" class="card-img-top tile-img" alt="Card image cap">
                    <div class="card-body">
                         <h4 class="card-title tile-title">Bmw seria 5</h4>
                         <div class="row">
                            <div class="col-12">
                                <small><b class="tile-year">2022</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                <small><b class="tile-mileage">245 000km</b></small> &nbsp;
                                   <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-fuel">Diesel</b></small> &nbsp;
                                    <i style="font-size:7px;" class="bi bi-circle-fill"></i> &nbsp;
                                 <small><b class="tile-capacity">3000cm</b></small>
                            </div>
                            <h4 class="text-danger pt-3 tile-price">89 000 <sub>PLN</sub></h4>
                          </div>
                     </div>
            </a>
         </div>

    </div>
</div>
