<div style="color:#d3d3d3" class="container p-5 fw-bold">
    <div class="row">
        <div class="col-12 text-center">
            <h1>You don't belong to any company</h1>
            <h3>Companys in auto vertical enable to publish adverts as member of accredicated company, There usualy translates to more interest and trust of your adverts  </h3>
            <h4>Ask for invitation from existing companies or establish your own business on the Auto Vertical </h4>
        </div>
        <div class="row d-flex justify-content-center mt-4">
            <form class="col-lg-4">
                  <div class="input-group">
                       <input type="text" class="form-control" placeholder="Search company" aria-label="Username" aria-describedby="basic-addon1">
                       <span class="input-group-text" id="basic-addon1">
                             <i class="bi bi-search"></i>
                       </span>
                  </div>
            </form>
            <div class="col-lg-4">
                <a class="btn btn-secondary px-5">
                    Estabilish own bussines
                </a>
            </div>
        </div>
    </div>
</div>
